.panelgrey{
	background-color: #3a4a66;
}

.panelwhite{
	background-color: #FFFFFF !important;
}

.txtcenter{
	text-align:center;
	display: flex;
    align-items: center;
	justify-content:center
}

.panel{
	box-shadow: 0 0 15px #404040 !important;
	margin: 0px;
}
.panel-body {
  padding: 10px !important;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
;
button{
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	
}

.slider.slider-vertical {
	height: 100% !important;
	
}

.slider.slider-vertical .slider-track {
	width: 25px !important;
}

.slider-handle {
	width: 35px !important;
	height: 15px !important;
}

.slider-track-high{
	background: darkred !important;
}

.slider-handle {
	background: black
}

p {
    font-size: 5px; 
    font-size: 5vmin;
}

.p2{
	font-size: 3px; 
    font-size: 3vmin;
}

.p3{
	font-size: 4px; 
    font-size: 4vmin;
}

.button1{
	height: 15vmin;
	box-shadow: 0 0 10px #989898;
}

.button2{
	box-shadow: 0 0 10px #989898;
}

.glyphicon.glyphicon-chevron-down {
    font-size: 5px; 
    font-size: 8vmin;
}

.glyphicon.glyphicon-chevron-up {
    font-size: 5px; 
    font-size: 8vmin;
	color: darkred;
}
body
{
	width:90%;
	margin:auto;
	min-width:100%;
	max-width:500%;
}

.main{
	width: 100%;
	height: 100%;
}