body {
  padding-top: 50px;
	background-color: #ddd;
}
.starter-template {
  padding: 40px 0px;
  text-align: center;
  background-color: rgba(255,255,255,0.2);
}

.vertical-menu > .btn{
	background-color: #009BAA;
	color: white;
}

.btn-group-vertical{
	float: left;
	/*overflow: hidden;*/
	margin: 15px;
	width: 250px;
	border-color: white;	
}

.btn-group-vertical > .dropdown-menu{
	background-color: #009BAA;
	width: 250px;
	font-color: white;
}

.main-container{
      float: left;
      position: relative;
      left: 50%;
}

.fixer-container{
      float: left;
      position: relative;
      left: -50%;
}

.narrow {
  float: right;
  width: 100px;
}
.wide {
  float: left;
  width: calc(% - 100px);
}