/*Page header*/
.logo-header {
	height:	30px;
}

.navbar {
	background-color: white;
}

.navbar-header{
	width: 100%
}

.navbar-right{
	float: right;
}


/*Color definition*/
.bachelor > a,
.premaster > a,
.master > a {
	color: white !important;
}

.bachelor > a:hover,
.bachelor > a:focus,
.premaster > a:hover,
 .premaster > a:focus,
 .master > a:hover,
 .master > a:focus {
	background-color: transparent !important;
	color: black !important;
}

/*bachelor*/
.bachelor {
	background-color: #009baa !important;
	color: white !important;
}

.bachelor .active {
	background-color: #006d77 !important;
}

.bachelor:hover, .bachelor:focus {
	background-color: #66C3CC !important;
	color: black !important;
}

.bachelor-text {
	color: #009baa !important;
}

/*premaster*/
.premaster {
	background-color: #0568a7 !important;
	color: white !important;
}

.premaster .active {
	background-color: #044975 !important;
}

.premaster:hover, .premaster:focus {
	background-color: #5095c1 !important;
	color: black !important;
}

.premaster-text {
	color: #0568a7 !important;
}

/*master*/
.master {
	background-color: #023f88 !important;
	color: white !important;
	border: none !important;
}

.master .active {
	background-color: #012856 !important;
}

.master:hover, .master:focus {
	background-color: #4d78ab !important;
	color: black !important;
}

.master-text {
	color: #023f88 !important;
}