.hd{
	color: #ffffff;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}

.bt{
	padding-left:5%;
}
.bt a{
	text-align: center;
}
.bu{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 95%;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 3px 2px;
    cursor: pointer;
}

.back{
	padding-left: 3.5%;
	padding-top: 1%;
}
		
